absl-py
aiohappyeyeballs
aiohttp
aiosignal
anyio
appdirs
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
astropy
asttokens
astunparse
async-lru
async-timeout
attrs
Babel
backcall
beautifulsoup4
biopython
bleach
bokeh
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorcet
colorlog
colorlover
comm
contourpy
cryodrgn==2.3.0
cssselect
cssutils
cufflinks
cupy-cuda12x
cycler
dask
dataframe-image
datashader
datashape
debugpy
decorator
defusedxml
distlib
equinox
exceptiongroup
executing
fastjsonschema
fastrlock
filelock
finufft
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
healpy
holoviews
html2image
idna
imageio
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jaxopt
jaxtyping
jaxwt
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
kiwisolver
lazy_loader
libclang
lineax
linkify-it-py
llvmlite
locket
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.8.0
matplotlib-inline
matplotlib-scalebar
mdit-py-plugins
mdurl
mistune
ml-dtypes
mpmath
more-itertools
mrc
mrcfile
multidict
multipledispatch
nbclient
nbconvert
nbformat
namex
nest-asyncio
networkx
notebook
notebook_shim
nox
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
panel
param
parso
partd
pexpect
pickleshare
Pillow
platformdirs
plotly
pluggy
pooch
prody
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pyct
pycuda
pyem
pyerfa
Pygments
pynndescent
pyparsing
pytest
python-dateutil
python-json-logger
pytools
pytz
pyviz_comms
PyWavelets
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rich 
rfc3339-validator
rfc3986-validator
rpds-py
rsa
scikit-fmm
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
starfile
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow-cpu
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tifffile
tinycss2
tomli
toolz
torch
tornado
tqdm
traitlets
triton
typeguard
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
umap-learn
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xarray
xyzservices
yarl
zipp
numexpr
bottleneck