-f https://download.pytorch.org/whl/torch_stable.html
torch==2.3.1+cpu
dataframe_image==0.2.7
finufft==2.3.1
healpy==1.18.0
ipython==8.12.3
ipywidgets==8.1.5
jax_finufft==0.1.0
jaxopt==0.8.3
jaxtyping==0.2.38
kneed==0.8.5
lineax==0.0.7
matplotlib==3.10.0
matplotlib_scalebar==0.9.0
more_itertools==10.6.0
mrcfile==1.5.4
numpy
pandas==2.2.3
plotly==6.0.0
#ProDy==2.4.1
psutil==7.0.0
pylops==2.4.0
pyproximal==0.10.0
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
scikit-image
starfile==0.5.11
tensorflow_cpu==2.18.0
typing_extensions==4.12.2
twine
ipykernel
scikit-fmm
umap-learn
